<!DOCTYPE html>
<html>
<head>
	<title>App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialize.css" />
</head>
<body>

<nav class="white">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <img src="https://static1.squarespace.com/static/57764ef78419c2a6d6ac5ace/t/5915f68e725e25353cf564ce/1494611603680/the+guardian.jpg" style="margin-top: 0px"  alt="" class="">
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <% if (lang == '') { %>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">News</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Coding Tutorials<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Technology</a></li>
        <li><a href="/">Online Business</a></li>
      

      <% } %>
      
      <% if (lang == 'ru') { %>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">Новости</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Туториали по Программированию<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Технологии</a></li>
        <li><a href="/">Интернет-бизнес</a></li>
      

      <% } %>

      <% if (lang == 'hi') { %>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">समाचार</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">प्रोग्रामिंग ट्यूटोरियल<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">प्रौद्योगिकी</a></li>
        <li><a href="/">ऑनलाइन कारोबार</a></li>
      

      <% } %>

        <li><a class="dropdown-button" href="#" data-activates="change-lang">Change Language<i class="material-icons right">arrow_drop_down</i></a></li>

      </ul>

      <ul id="change-lang" class="dropdown-content">
        <li><a href="/">English</a></li>
        <li><a href="/ru">Russian</a></li>
        <li><a href="/hi">Hindi</a></li>
      </ul>

      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/">HTML</a></li>
        <li><a href="/">CSS</a></li>
        <li><a href="/">SASS</a></li>
        <li><a href="/">BOOTSTRAP</a></li>
        <li><a href="/">Javascript</a></li>
        <li><a href="/">ReactJS</a></li>
        <li class="divider"></li>
        <li><a href="/">C</a></li>
        <li><a href="/">NodeJS</a></li>
        <li><a href="/">Socket.IO</a></li>
        <li><a href="/">PHP</a></li>
        <li><a href="/">Laravel</a></li>
        <li><a href="/">MySQL</a></li>
      </ul>

      <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="/">HTML</a></li>
        <li><a href="/">CSS</a></li>
        <li><a href="/">SASS</a></li>
        <li><a href="/">BOOTSTRAP</a></li>
        <li><a href="/">Javascript</a></li>
        <li><a href="/">ReactJS</a></li>
        <li class="divider"></li>
        <li><a href="/">C</a></li>
        <li><a href="/">NodeJS</a></li>
        <li><a href="/">Socket.IO</a></li>
        <li><a href="/">PHP</a></li>
        <li><a href="/">Laravel</a></li>
        <li><a href="/">MySQL</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">News</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Coding Tutorials<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Technology</a></li>
        <li><a href="/">Online Business</a></li>
      </ul>
    </div>
  </nav>
          
  
