<% include partials/header.ejs %>

	<img class="materialboxed" width="650" src="http://materializecss.com/images/sample-1.jpg">

	<h1><%= post.title %></h1>
	<p><%= post.body %></p>
	
<% include partials/footer.ejs %>
